/* file: src/app/globals.css */
@import "tailwindcss";

@theme inline {
  /* Define all your custom theme values here */
  --color-primary: #b20d31;
  --color-background: #121212;
  --color-content: #1E1E1E;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A0A0A0;
  
  --font-sans: var(--font-inter);
  --font-display: var(--font-poppins);
  
  --rounded-soft: 12px;
}

/* Apply your base styles */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
}